{% extends "admin/change_list.html" %}
{% load i18n static admin_urls admin_list %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static "bundles/core-css.css" %}">
{{ block.super }}
{% endblock %}

{% block object-tools-items %}

    {% if not is_popup and has_add_permission and has_change_permission %}
    <li>
        {% url 'admin:forms_import' as import %}
        <a href="{% add_preserved_filters import is_popup to_field %}" class="addlink">
            {% trans "Import form(s)" %}
        </a>
    </li>
    {% endif %}

    {{ block.super }}
{% endblock %}

{% block result_list %}
    {% if action_form and actions_on_top and cl.show_admin_actions %}{% admin_actions %}{% endif %}

    <div class="form-category-tree">
        {% for category, info in categories %}

            {% if info.open %}
                <div class="form-category__subcategories">
            {% endif %}

            <div class="form-category" data-id="{{ category.id }}" data-depth="{{ category.depth }}">
                <div class="form-category__name">{{ category }} ({{ category.form_count }})</div>
                <div class="form-category__form-list">{# Content managed asynchronously via JS #}</div>
            </div>

            {% for close in info.close %}
                </div>
            {% endfor %}

        {% endfor %}

        {# forms without category #}
        <div class="form-category__subcategories">
            <div class="form-category" data-id="">
                <div class="form-category__name">{% trans "Forms without category" %} ({{ count_no_category }})</div>
                <div class="form-category__form-list">{# Content managed asynchronously via JS #}</div>
            </div>
        </div>

    </div>

    {% if action_form and actions_on_bottom and cl.show_admin_actions %}{% admin_actions %}{% endif %}
{% endblock %}
